@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "font-sans", sans-serif;
  }
}

body.loading {
  position: relative;
  overflow: hidden;
}

body.loading::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.85);
  position: absolute;
  inset: 0;
  z-index: 100;
}

body.loading::after {
  content: "";
  position: absolute;
  background-image: url("./../img//reload.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: max(3vw, 50px);
  z-index: 101;
  inset: 0;
  @apply animate-spin;
}
